<link rel="stylesheet" href="/css/bootstrap.css">

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/imgs/logo.png" alt="" width="40" height="40">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Passageiro
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/passageiro/cadastrar">Cadastrar</a></li>
              <li><a class="dropdown-item" href="/passageiro">Listar Passageiros</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Voo
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/voo/cadastrar">Cadastrar</a></li>
              <li><a class="dropdown-item" href="/voo">Listar Voos</a></li>
            </ul>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" action="/passageiro/logout">
          <button class="btn btn-danger" type="submit">Sair</button>
        </form> 
      </div>
    </div>
  </nav>