<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <div class="container">
        <div>
            <a class="btn btn-info" href="/passageiro">Voltar</a>
        </div>
        <br>
        <div><strong>E-mail:</strong><%= passageiro.email %> </div>
        <div><strong>Nome:</strong><%= passageiro.nome %> </div>
    </div>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>